<h1>New game</h1>
<% @letters.each do |letter| %>
  <%= letter %>
<% end %>

<form action="score" method="post">
  <label for="POST-name">Nom :</label>
  <input id="POST-name" type="text" name="name">
  <input type="submit" value="Enregistrer">
</form>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
